<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is secretary page</title>
</head>
<body>
    Welcome secretary!!!
    <form action="/logout" method="POST"> <button type="submit">Logout</button> </form>
</body>
</html>