<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grievance portal</title>
</head>
<body>
  
<form action="/grievance" method="POST" enctype="multipart/form-data">
  <label for="title">Enter Grivieance Title:</label><br>
  <input type="text" id="title" name="title" placeholder="Enter Grivieance Title"><br>
  <label for="subtitle">Enter Grivieance SubTitle:</label><br>
  <input type="text" id="subtitle" name="subtitle" placeholder="Enter Grivieance Title"><br>
  <label for="description">Enter Description</label><br>
  <input type="textarea" id="description" name="description" placeholder="Enter Description"><br><br>
          <div class="form-group">
            <input type="file" name="documents" multiple />
          </div>
  <input type="submit" value="Submit">
</form> 


</body>
</html>
